<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar class="bg-light-blue-500">
      <ion-title size="large" class="ion-text-center large-font">PB Hub</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" class="right-align">
    <ion-list>
     <a href="profilepage">
      <ion-item >
        <ion-icon slot="start" name="person"></ion-icon>
        <ion-label>Manage Profile</ion-label>
      </ion-item>
    </a>
    <a href="loginpage">
      <ion-item >
        <ion-icon slot="start" name="logOut"></ion-icon>
        <ion-label>Log Out</ion-label>
      </ion-item>
      </a>
      </ion-list>
  </ion-content>
  </ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title size="large" class="ion-text-center large-font">Discover</ion-title>
      <ion-icon slot="end" size="medium" name="cart" class="icon-adjust"><ion-badge slot="end"></ion-badge></ion-icon>
      
      
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="9">
          <ion-searchbar placeholder="Search for clothes..."></ion-searchbar>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block" color="primary" >Add Product </ion-button>
        </ion-col>
      </ion-row>
      </ion-grid>
      <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card color="medium">
            
            <ion-card-content> <ion-button fill="clear" size="small" slot="end" class="absolute-top-right">
              <ion-icon name="trash" class="red"></ion-icon>
              </ion-button> 
            </ion-card-content>  </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card color="medium">
            
            
            <ion-card-content> <ion-button fill="clear" size="small" slot="end" class="absolute-top-right">
              <ion-icon name="trash" class="red"></ion-icon>
              </ion-button> 
            </ion-card-content>  </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-card color="medium">
            
            
            <ion-card-content>
              <ion-button fill="clear" size="small" slot="end" class="absolute-top-right">
                <ion-icon name="trash" class="red"></ion-icon>
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card color="medium">
            <ion-card-content> <ion-button fill="clear" size="small" slot="end" class="absolute-top-right">
              <ion-icon name="trash" class="red"></ion-icon>
              </ion-button> 
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-card color="medium">
            <ion-card-content> <ion-button fill="clear" size="small" slot="end" class="absolute-top-right">
              <ion-icon name="trash" class="red"></ion-icon>
              </ion-button> 
            </ion-card-content>  </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card color="medium">
            <ion-card-content> <ion-button fill="clear" size="small" slot="end" class="absolute-top-right">
              <ion-icon name="trash" class="red"></ion-icon>
              </ion-button> 
            </ion-card-content>    </ion-card>
        </ion-col>
      </ion-row>
     
    </ion-grid>
  </ion-content>
</div>
