<ion-header>
  <ion-toolbar>
    <ion-title size="large" class="ion-text-center large-font">About</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="assets/logo.png"></ion-img>

  <h2>Pb Hub</h2>
  <p>
    Introducing PB Hub, an innovative e-commerce application that is designed to
    revolutionize online shopping by seamless and personalized experience for
    both users and administrators. PB Hub enables administrators to easily
    control their product listings, making it simple to add, remove, and modify
    products, including the option to take and showcase product photos directly
    within the application. PB Hub provides a wide range of functions for
    customers, such as adding or deleting items from their cart, searching and
    filtering products to locate specific ones, and personalizing their profiles
    with distinct profile pictures.
  </p>

  <p>Muhammad Farmiziee Fazley bin Muhammad Fakhri Jailani[22FTT1494]</p>
  <p>Mohammad Akmal Shafie’e bin Abdullah Roslan [22FTT1499]</p>
  <p>Siti Nur Aliffah binti Awang Taib [22FTT1500]</p>
  <p>An’nur Syaqila Syuhaa’da binti Roslin [22FTT1503]</p>
  <p>Fatin Amierah binti Haji Ramli [22FTT1507]</p>
</ion-content>
