

ion-toolbar {
    --background: #0b3948;
  
  }

  ion-content {
    --background: #cbcccd;
  }

  .product-card {
    width: 100%;
    margin-bottom: 15px; /* Add margin between cards */
    --background: #f6f6f6;
    margin-left: -1px;
    color: black;
  }
  
  .product-thumbnail {
    width: 100px; /* Set width of the thumbnail */
    height: 100px; /* Set height of the thumbnail */
    
    object-fit: contain; /* Maintain aspect ratio and fill the container */
  }
  .product-price{
    font-weight: bold;
    padding-top: 10px;
  }
  
  
  