ion-content {
  --background: #cbcccd;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-image.rounded-full {
  width: 150px;  /* adjust as needed */
  height: 150px; /* adjust as needed */
  border-radius: 50%;
  border: 1px solid black;
  object-fit: cover; /* Maintain aspect ratio and fill the container */
}