.card {
    margin: 0 auto;
    margin-bottom: 70px;
}

.header {
    height: 200px;

    
}

ion-content {
    --background: #cbcccd;
  }

img {
    display: block;
    border-radius: 50%;
    position: absolute;
    bottom: calc(-1*(80px + 4px));
    border: 8px solid #080808;
    background-color: #fff;
}
ion-avatar {
    width: 120px;
    height: 120px;
    position: relative;
    margin: 0 auto;

    
}
ion-toolbar {
    --background: #0b3948;

  }

  ion-list{
    width: 95%;
    margin: 0 auto;
    border-radius: 20px;
  }