<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="card">
    <div class="header">
      <div class="avatar"></div>
      <ion-avatar>
        <img alt="Profile Pic" src="{{ userData?.profile }}" />
      </ion-avatar>
    </div>
  </div>
  <div>
    <ion-list>
      <ion-item>
        <ion-icon aria-hidden="true" name="person" slot="start"></ion-icon>
        <ion-label>{{ userData?.username }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon aria-hidden="true" name="mail" slot="start"></ion-icon>
        <ion-label>{{ user?.email }}</ion-label>
      </ion-item>
    </ion-list>
    <!-- <ion-button expand="block" (click)="save()">Save</ion-button> -->
  </div>
</ion-content>
