<ng-container>
  <ion-header>
    <ion-toolbar>
      <ion-title> Test </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card *ngFor="let product of products$ | async">
      <ion-card-header>
        <ion-card-title>{{ product.title }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-img [src]="product.image"></ion-img>
        <p>{{ product.description }}</p>
        <p>{{ product.price }}</p>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ng-container>