.image-container {
    width: 100%;
    height: 0;
    padding-bottom: 75%; /* This will give a 4:3 aspect ratio. Adjust as needed. */
    position: relative;
  }
  
  .image-container ion-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }