#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-icon {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20%;
  width: 300px; /* Set the desired width */
  height: auto; /* Maintain the aspect ratio */
}

.product-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20%;
  width: 300px; /* Set the desired width */
  height: auto; /* Maintain the aspect ratio */
}

ion-toolbar {
  --background: #0b3948;

}

ion-content {
  --background: #cbcccd;

}

/* styles.scss */

.bg-light-blue-500 {
  background-color: #3b82f6; /* Tailwind's light blue 500 color */
}

.large-font {
  font-size: 1.25rem; /* Tailwind's large font size */
}

.ion-text-center {
  text-align: center;
}

.ion-padding {
  padding: 1rem; /* Tailwind's padding */
}

.ion-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.icon-adjust {
  margin-right: 1rem; /* Adjust the margin as needed */
  /* Alternatively, you can use transform for more precise control */
  /* transform: translateX(-5px); */
}

.right-align {
  --background: #cbcccd;
}

