<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar class="bg-light-blue-500">
      <ion-title size="large" class="ion-text-center large-font"
        >PB Hub</ion-title
      >
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" class="right-align">
    <ion-list>
      <a href="profilepage">
        <ion-item>
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-label>Manage Profile</ion-label>
        </ion-item>
      </a>
      <a href="about">
        <ion-item>
          <ion-icon slot="start" name="informationcircle"></ion-icon>
          <ion-label>About</ion-label>
        </ion-item>
      </a>
      <a href="cartpage">
        <ion-item>
          <ion-icon slot="start" name="cart"></ion-icon>
          <ion-label>Cart</ion-label>
        </ion-item>
      </a>
      <a href="loginpage">
        <ion-item>
          <ion-icon slot="start" name="logOut"></ion-icon>
          <ion-label>Log Out</ion-label>
        </ion-item>
      </a>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title size="large" class="ion-text-center large-font"
        >Discover</ion-title
      >
      <!-- <ion-icon slot="end" size="medium" name="cart" class="icon-adjust"
        ><ion-badge slot="end"></ion-badge
      ></ion-icon> -->
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-searchbar
      [(ngModel)]="searchTerm"
      (ionInput)="filterProducts()"
    ></ion-searchbar>

    <ion-grid>
      <ion-row>
        <ng-container *ngFor="let product of filteredProducts">
          <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
            <ion-card class="product-card">
              <ion-card-header>
                <ion-card-title>{{ product.title }}</ion-card-title>
              </ion-card-header>
              <ion-card-content class="content-container">
                <ion-img [src]="product.image" class="product-image"></ion-img>
                <p class="product-description">{{ product.description }}</p>
                <br />
                <p class="product-price">${{ product.price }}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>
